@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Message</h2>

<div class="btn btn-lg btn-info" style="margin: 5px"><strong>J</strong>eff Schreiner</div>
<div class="btn btn-lg btn-info" style="margin: 5px"><strong>A</strong>melia Mawlawi</div>
<div class="btn btn-lg btn-info" style="margin: 5px"><strong>D</strong>avid Fitch</div>